@font-face {
    font-family: "Plus Jakarta Sans";
    src: url("https://fonts.google.com/specimen/Plus+Jakarta+Sans");
    font-weight: 500;
}

.container {
    background-color: hsl(0, 0%, 100%);
    width: 45%;
    margin: 40px auto;
    padding: 2rem;
    font-family: "Plus Jakarta Sans" "sans-serif";
}

/* Mobile View */

@media (max-width: 795px) {
    .container {
        width: 60%;
    }
}

@media (max-width: 600px) {
    .container {
        width: 85%;
    }
}
