.tabContainer {
  display: flex;
  gap: 20px;
  padding: 2%;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 10px;
  color: hsl(219, 12%, 42%);
}

.new {
  background-color: hsl(210, 60%, 98%);
}

.displayPicture {
  height: 50px;
  width: 50px;
}

.name {
  font-weight: 700;
  color: rgb(41, 41, 41);
}

.name:hover {
  color: hsl(219, 85%, 26%);
  cursor: pointer;
}

/* New Messages */

.dot {
  display: inline-block;
  white-space: nowrap;
  margin-top: -50px;
  margin-left: 1.5px;
  height: 7.5px;
  width: 7.5px;
  border-radius: 50%;
  background-color: hsl(1, 90%, 64%);
}

/* Middle Notification component */

.textContent {
  flex-grow: 1;
}

/* Tail Notification components */

.group {
  color: hsl(219, 85%, 26%);
  font-weight: 700;
}

.group::before {
  content: " ";
}

.group:hover {
  color: hsl(219, 85%, 26%);
  cursor: pointer;
}

.post {
  color: hsl(224, 21%, 14%);
  font-weight: 700;
}

.post::before {
  content: " ";
}

.post::after {
  content: " ";
}

.post:hover {
  color: hsl(219, 85%, 26%);
  cursor: pointer;
}

.message {
  border: 0.8px solid hsl(219, 14%, 63%);
  border-radius: 1.5%;
  padding: 2.5% 3%;
  margin-top: 10px;
}

.message:hover {
  border: none;
  padding: 2.65% 3.2%;
  background-color: hsl(205, 33%, 90%);
  cursor: pointer;
}

.picturePost {
  height: 45px;
  width: 45px;
  margin-bottom: -15px;
}

.picturePost:hover {
  cursor: pointer;
}

/* Mobile View */

@media (max-width:600px) {

  .displayPicture {
    height: 45px;
    width: 45px;
    margin-top: 2.5px;
  }

  .tabContainer {
    padding: 3%;
  }
}
